/* The page should be 1:1.25 aspect ratio. 4 sections take 25.25vw and the dividers take a minium of 8vw. */

.section {
  @apply z-10 relative;
  @apply flex-none;
  height: 25.25vw;
  @apply overflow-visible;

  .adjusted-content {
    @apply flex;
    margin-top: -6vw;
  }
}

.aside {
  @apply z-20;
  @apply absolute bottom-0 left-0;
  width: 32.75vw;
  height: 32.75vw;
  padding-top: 5.5vw;
  padding-right: 4vw;
  @apply pl-outer pb-outer;
  @apply overflow-hidden;

  &::before {
    position: absolute;
    bottom: -20%;
    left: -20%;
    content: "";
    width: 115%;
    height: 115%;
    border-radius: 50%;
    @apply bg-adobe;
  }
}

/* From https://codepen.io/ahmadnassri/pen/bByOKv */
.separator {
  @apply z-0;
  position: relative;
  @apply flex-grow;
  width: 100%;
  min-height: 8vw;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 0, 0 0, 0 100%);
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
  }

  &.reverse {
    transform: rotateY(180deg);
  }

  &.one {
    &::before {
      background-color: theme("colors.beige");
    }

    &::after {
      background-color: theme("colors.tan");
    }
  }

  &.two {
    &::before {
      background-color: theme("colors.tan");
    }

    &::after {
      background-color: theme("colors.aqua");
    }
  }

  &.three {
    &::before {
      background-color: theme("colors.aqua");
    }

    &::after {
      background-color: theme("colors.sunshine");
    }
  }
}
