/* The page should be 1:1.25 aspect ratio. 4 sections take 25.25vw and the dividers take a minium of 8vw. */

.section {
  @apply z-10 relative;
  @apply flex-none;
  @apply flex;
  min-height: 100vmin;
  @apply pt-outer pr-outer pl-outer;
  @apply overflow-visible;

  .adjusted-content {
    margin-top: 0;
  }

  @screen md {
    @apply flex;
    height: 29.25vw;
    min-height: auto;
    @apply p-md/outer;

    .adjusted-content {
      margin-top: 0;
    }
  }
}

.aside {
  @apply z-20;
  @apply flex;
  min-height: 100vmin;
  @apply pt-outer pr-outer pl-outer;
  @apply bg-adobe;

  @screen md {
    @apply absolute bottom-0 left-0;
    width: 33.25vw;
    height: 33.25vw;
    min-height: auto;
    padding-top: 5vw;
    padding-right: 4vw;
    @apply pl-md/outer pb-md/outer;
    @apply bg-transparent;
    @apply overflow-hidden;

    &::before {
      position: absolute;
      bottom: -37%;
      left: -24%;
      content: "";
      width: 120%;
      height: 120%;
      border-radius: 50%;
      @apply bg-adobe;
    }
  }
}

/* From https://codepen.io/ahmadnassri/pen/bByOKv */
.separator {
  @apply hidden;

  @screen md {
    @apply block;
    @apply z-10;
    position: relative;
    @apply flex-grow;
    min-height: 10vw;

    &::after {
      position: absolute;
      bottom: -1px;
      content: "";
      width: 100%;
      height: 100%;
      clip-path: polygon(100% 0, 0 100%, 100% 100%);
    }

    &.reverse {
      &::after {
        transform: rotateY(180deg);
      }
    }

    &.one {
      background-color: theme("colors.beige");

      &::after {
        background-color: theme("colors.tan");
      }
    }

    &.two {
      background-color: theme("colors.tan");

      &::after {
        background-color: theme("colors.aqua");
      }
    }

    &.three {
      background-color: theme("colors.aqua");

      &::after {
        background-color: theme("colors.sunshine");
      }
    }

    &.four {
      background-color: theme("colors.sunshine");

      &::after {
        background-color: theme("colors.adobe");
      }
    }
  }
}

.animated-link {
  background-image: linear-gradient(
    120deg,
    theme("colors.aqua") 0%,
    theme("colors.sunshine") 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}

.authors-md {
  @apply absolute;
  bottom: 44%;
  left: 0;
  @apply p-outer;

  @screen md {
    @apply p-md/outer;
  }
}

/* .image-one {
  width: 50vmin;

  @screen md {
    @apply hidden;
  }
} */

.image-one-md {
  @apply absolute;
  bottom: 0;
  right: 0;
  width: 40vw;
}

.image-two {
  @apply self-start;
  width: 50vmin;
  @apply pt-base;

  @screen md {
    @apply hidden;
  }
}

.image-two-md {
  @apply absolute;
  bottom: 0;
  left: 0;
  right: auto;
  width: 40vw;
}

.image-three {
  @apply self-start;
  width: 62vmin;
  @apply pt-base;

  @screen md {
    @apply hidden;
  }
}

.image-three-md {
  @apply absolute;
  bottom: 60%;
  left: auto;
  right: 2%;
  width: 40vw;
}

.image-four {
  @apply self-start;
  width: 48vmin;
  @apply pt-base;

  @screen md {
    @apply hidden;
  }
}

.image-four-md {
  @apply hidden;

  @screen md {
    @apply block;
    @apply z-30;
    @apply absolute;
    bottom: 0;
    left: 27%;
    right: auto;
    width: 25vw;
  }
}

.image-five {
  @apply self-start;
  width: 50vmin;
  @apply pt-base;

  @screen md {
    @apply hidden;
  }
}
