---
layout: layouts/_base.njk
title: Not Found
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="w-screen h-screen flex items-center justify-center">
  <div>
    <p class="text-center mb-base md:mb-md/md">
      <span
        class="font-league-spartan font-bold text-header-lg md:text-md/header-lg text-black leading-bound md:leading-none"
        >Page Not Found</span
      >
    </p>
    <p class="text-center">
      <a
        class="underline font-open-sans text-section-detail md:text-md/section-detail text-black"
        href="/"
        >Back to Home</a
      >
    </p>
  </div>
</div>
