---
layout: layouts/_base.njk
title: jplace's 11ty Starter
---

<section class="font-league-spartan text-black bg-beige p-outer">
  <h1 class="text-6xl">Hello, World!</h1>
</section>
<section class="font-open-sans text-black bg-tan p-outer">
  <h1 class="text-6xl">Hello, World!</h1>
</section>
<section class="font-roboto text-white bg-aqua p-outer">
  <h1 class="text-6xl">Hello, World!</h1>
</section>
<section class="text-white bg-sunshine p-outer">
  <h1 class="text-6xl">Hello, World!</h1>
</section>
<section class="text-white bg-adobe p-outer">
  <h1 class="text-6xl">Hello, World!</h1>
</section>
