---
layout: layouts/_base.njk
title: Navigating Pronouns in the Workplace
---

<!-- prettier-ignore -->
{% macro sectionHeader(moreClasses="") %}
<h2
  class="font-roboto font-medium text-section-header md:text-md/section-header text-white leading-bound {{
    moreClasses
  }}"
>
  <!-- prettier-ignore -->
  {{ caller() }}
</h2>
<!-- prettier-ignore -->
{% endmacro %}

<!-- prettier-ignore -->
{% macro sectionDetails(moreClasses="", style="") %}
<p
  style="{{ style }}"
  class="font-open-sans text-section-detail md:text-md/section-detail text-black {{
    moreClasses
  }}"
>
  <!-- prettier-ignore -->
  {{ caller() }}
</p>
<!-- prettier-ignore -->
{% endmacro %}

<section class="section bg-beige">
  <div class="flex">
    <div class="w-2/3 md:w-7/12">
      <p
        class="font-league-spartan text-header-sm md:text-md/header-sm text-aqua leading-bound md:leading-none mb-base md:mb-md/base"
      >
        We all make mistakes!
      </p>
      <h1
        class="font-league-spartan text-header-lg md:text-md/header-lg text-black leading-bound md:leading-none mb-md md:mb-md/md"
      >
        Navigating Pronouns in the Workplace
      </h1>
      <p
        class="font-roboto font-medium text-header-md md:text-md/header-md text-aqua leading-bound mb-md md:mb-md/md"
      >
        A guide to handling instances of misgendering with grace
      </p>
    </div>
    <div class="hidden md:block md:w-5/12"></div>
  </div>
</section>
<div class="separator one">
  <p
  class="author-credits font-nunito text-header-xs md:text-md/header-xs text-black leading-tight"
>
  Content by Riley Pratt (<a
    class="animated-link"
    href="https://www.instagram.com/bae.witch/"
    >@bae.witch</a
  >)<br />
  Design by Iris F (<a
    class="animated-link"
    href="https://www.instagram.com/sunny_side_vibes/"
    >@sunny_side_vibes</a
  >)<br />
  Art by April Zhang (<a
    class="animated-link"
    href="https://www.instagram.com/apezhang/""
    >@apezhang</a
  >)
</p>
  <img class="image-one" src="/images/when_corrected.png" />
</div>
<section class="section bg-tan">
  <div class="adjusted-content flex-row-reverse md:flex-row">
    <div class="w-1/3 md:w-2/3"></div>
    <div class="w-2/3 md:w-1/3">
      {% call sectionHeader("mb-sm md:mb-md/sm text-left md:text-right") %}
      Catch yourself? Correct yourself.
      <!-- prettier-ignore -->
      {% endcall %}
      <!-- prettier-ignore -->
      {% call sectionDetails("text-left md:text-right") %}
      A <strong>quick correction</strong> validates that this was clearly a
      verable misstep, and not some deeper level of invalidating the person's
      identity.
      <!-- prettier-ignore -->
      {% endcall %}
    </div>
  </div>
</section>
<div class="separator two reverse">
  <img class="image-two" src="/images/correcting_oneself.png" />
</div>
<section class="section bg-aqua">
  <div class="adjusted-content">
    <div class="w-2/3 md:w-2/5">
      <!-- prettier-ignore -->
      {% call sectionHeader("mb-sm md:mb-md/sm") %}
      When should I step in if someone else makes a mistake?
      <em><span class="underline">Always.</span></em>
      <!-- prettier-ignore -->
      {% endcall %}
      <!-- prettier-ignore -->
      {% call sectionDetails() %}
      Make it <strong>a habit</strong>. Be quick. The faster you get at
      correcting, the less you'll struggle with the interanl complexities of
      <em>"should I, or shouldn't I?"</em>
      <strong>The answer is always yes</strong>, so there's no need for doubt!
      <!-- prettier-ignore -->
      {% endcall %}
    </div>
    <div class="w-1/3 md:w-3/5"></div>
  </div>
</section>
<div class="separator three">
  <img class="image-three" src="/images/correcting_others.png" />
</div>
<section class="section bg-sunshine">
  <div class="adjusted-content">
    <div class="hidden md:block md:w-1/2"></div>
    <div class="md:w-1/2">
      <!-- prettier-ignore -->
      {% call sectionHeader("text-right mb-sm md:mb-md/sm") %}
      Did someone correct you? Just say
      <em>"<span class="underline">Thanks.</span>"</em>
      <!-- prettier-ignore -->
      {% endcall %}
      <!-- prettier-ignore -->
      {% call sectionDetails("md:pl-1/3 text-right") %}
      <em>Do not apologize.</em> An apology puts the onus on the misgendered
      person to make the speaker feel better rather than centering the resposne
      on the feelings of the person impacted.
      <!-- prettier-ignore -->
      {% endcall %}
    </div>
  </div>
</section>
<!-- <div class="separator four reverse"></div> -->
<aside class="aside">
  <div class="relative">
    <!-- prettier-ignore -->
    {% call sectionHeader("mb-sm md:mb-md/sm") %}
          Ask. Don't assume.
    <!-- prettier-ignore -->
    {% endcall %}
    <!-- prettier-ignore -->
    {% call sectionDetails() %}
          Normalizing asking for someone's pronouns is important and helps trans and
      non-binary people everywhere!
    <!-- prettier-ignore -->
    {% endcall %}
  </div>
</aside>
<img class="image-four" src="/images/ask_pronouns.png" />
