---
layout: layouts/_base.njk
title: jplace's 11ty Starter
---

<section class="section bg-beige p-outer">
  <div>
    <p class="font-league-spartan text-md text-aqua leading-none mb-base">
      We all make mistakes!
    </p>
    <h1 class="font-league-spartan text-2xl text-black leading-none mb-md">
      Navigating Pronouns<br />in the Workplace
    </h1>
    <p class="font-roboto font-medium text-xl text-aqua leading-bound mb-md">
      A guide to handling instances of<br />misgendering with grace
    </p>
    <p class="font-nunito text-xs text-black leading-tight">
      Content by Riley Pratt (<a href="#">@bae.witch</a>)<br />
      Design by Iris F (<a href="#">@sunny_side_vibes</a>)
    </p>
  </div>
</section>
<div class="separator one"></div>
<section class="section font-open-sans text-black bg-tan p-outer">
  <h1 class="text-6xl">Hello, World!</h1>
</section>
<div class="separator two reverse"></div>
<section class="section font-roboto text-white bg-aqua p-outer">
  <h1 class="text-6xl">Hello, World!</h1>
</section>
<div class="separator three"></div>
<section class="relative section text-white bg-sunshine p-outer">
  <div class="adjusted-content">
    <div style="width: 40%;" class="float-right">
      <h2
        class="font-roboto font-medium text-lg text-white leading-bound text-right"
      >
        Did someone correct you?<br />Just say "Thanks."
      </h2>
      <p class="font-open-sans text-md text-black text-right">
        <em>Do not apologize.</em> An apology puts the onus on the misgendered
        person to make the speaker feel better rather than centering the
        resposne on the feelingso f the person impacted
      </p>
    </div>
  </div>
</section>
<aside class="aside">
  <div class="relative">
    <h2 class="font-roboto font-medium text-lg text-white leading-bound">
      Ask. Don't<br />assume.
    </h2>
    <p class="font-open-sans text-md text-black">
      Normalizing asking for someone's pronouns is important and helps trans and
      non-binary people everywhere!
    </p>
  </div>
</aside>
